   </td>
  </tr>
  <tr width="100%" style="text-align: center; border-top: 2px solid #6691BF;">
   <td style="text-align: center;">
    This application is powered by <a href="https://www.engineyard.com">Engine Yard Kontainers</a><br/>
    </td>
  </tr>
 </tbody>
</table>
 