<style>
table.quiz td {
    background-clip: padding-box;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
</style>
<table width="925px">
 <tbody width="100%">
  <tr><td>
   <%= image_tag("HeaderGraphic.png")%>
  </td></tr>
  <tr width="100%">
   <td>